@import 'styles/variables.scss';
.btdt{
    text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
 
}
.border1{
  text-align: center;
	color:lightcyan;
	background-color: forestgreen;
}
.star{
  width: 3rem;height: 3rem
}
td{
  text-align: center;
}
.star1{
  width: 1rem;
  height: 1rem
}
