<h1 style="color:chartreuse">1. Thông tin của Quán</h1>
<sb-card>
    <div class="card-body">
        <div *ngIf="quanByid$ | async; then display2; else loading2"></div>
        <ng-template #display2>
        <div class="text-center">
            <table class="table table-striped table-bordered" border="1" >
                <tr>
                    <td style="text-align: center;" rowspan="3">
                        <div *ngIf="quanByid.image" >
                            <img style="width: 70%; columns: auto; " src="{{url+'/'+quanByid.image}}">
                        </div>
                        <div *ngIf="!quanByid.image">
                            <img class="profile_img" src="../../../assets/img/avatar.jpg">
                        </div>
                    </td>
                    <td style="text-align: center;">full_name</td>
                    <td style="text-align: center;"> <strong>{{ quanByid.name }}</strong></td>
                </tr>
                <tr>
                    <td style="text-align: center;">Phone</td>
                    <td style="text-align: center;"><strong>{{ quanByid.phone}}</strong></td>
                </tr>
                <tr>
                    <td style="text-align: center;">address</td>
                    <td style="text-align: center;"><a href="{{quanByid.linkaddress}}"><strong>{{ quanByid.address }}</strong></a></td>
                </tr>
            </table>
        </div>
        </ng-template>
        <ng-template #loading2>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>

<h1 style="color:blue">2. Lịch đặt sân của quán</h1>
<div class="form-group">
    <div>
        Hãy chọn ngày đặt sân : 
        <input type="date" [(ngModel)]="today" (change)="chonngay($event);">
    </div>
</div>
<sb-card>

    <div  class="card-body">
        <div *ngIf="trackingObservable then display; else loading"></div>
        <ng-template #display>
            <table class="table table-striped table-dark" border="1">
                <thead class="thead-dark">
                    <tr>
                        <td style="text-align: center;">tên sân</td>
                        <td style="text-align: center;">5h</td>
                        <td style="text-align: center;">6h</td>
                        <td style="text-align: center;">7h</td>
                        <td style="text-align: center;">8h</td>
                        <td style="text-align: center;">9h</td>
                        <td style="text-align: center;">10h</td>
                        <td style="text-align: center;">11h</td>
                        <td style="text-align: center;">12h</td>
                        <td style="text-align: center;">13h</td>
                        <td style="text-align: center;">14h</td>
                        <td style="text-align: center;">15h</td>
                        <td style="text-align: center;">16h</td>
                        <td style="text-align: center;">17h</td>
                        <td style="text-align: center;">18h</td>
                        <td style="text-align: center;">19h</td>
                        <td style="text-align: center;">20h</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let san of listsanByidquan ;index as i; trackBy: trackByListSan">
                        <td>
                            {{san.name}}
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][0]" (click)="datsan(0,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][1]" (click)="datsan(1,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][2]" (click)="datsan(2,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][3]" (click)="datsan(3,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][4]" (click)="datsan(4,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][5]" (click)="datsan(5,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][6]" (click)="datsan(6,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][7]" (click)="datsan(7,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][8]" (click)="datsan(8,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][9]" (click)="datsan(9,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][10]" (click)="datsan(10,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][11]" (click)="datsan(11,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][12]" (click)="datsan(12,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][13]" (click)="datsan(13,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][14]" (click)="datsan(14,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                        <td style="background-color: #41c04d;">
                            <button *ngIf="!mangDatsan[i][15]" (click)="datsan(15,san.id,san.priceperhour,san.name,san.numberpeople)"
                                class="btdt">đặt</button>
                        </td>
                    
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>

<h1 style="color:red">3. Danh sách các sân bóng</h1>
<sb-card>
    <div class="card-body">
        <div *ngIf="listsanByidquan; then display1; else loading1"></div>
        <ng-template #display1>
            <div class="row">
                <div class="col-md-4 pd-checkbox" *ngFor="let san of listsanByidquan">
                    <label class="customer-checkbox">
                        <div class="row">
                            <div>
                                <sb-card>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <table class="table table-striped ">
                                                <tbody>
                                                    <tr>
                                                        <td>tên sân</td>
                                                        <td> <strong>{{ san.name }}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>số người trong 1 phe</td>
                                                        <td><strong>{{ san.numberpeople}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>số tiền trong 1 giờ</td>
                                                        <td><strong>{{ san.priceperhour }}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </sb-card>
                                &emsp;
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </ng-template>
        <ng-template #loading1>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>