<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label class="small mb-1" for="inputFirstName">Full Name</label>
                                <input class="form-control py-4"  type="text" #name placeholder="Enter Full Name" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputLastName">Phone</label>
                                <input class="form-control py-4"  type="text" #phone placeholder="Enter phone" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control py-4"  type="email" #gmail  placeholder="Enter email address" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Address</label>
                                <input class="form-control py-4" type="text" #address placeholder="Enter address" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Password</label>
                                <input class="form-control py-4" type="password" #password placeholder="Enter password" />
                            </div>
                            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" (click)=RegisterUser(name.value,phone.value,gmail.value,address.value,password.value)>Create Account</a></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
