
<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-md">
                <div class="navbar-brand">ĐẶT SÂN ĐÁ BANH</div>
                <ul class="nav" >
                    <li class="nav-item">
                        <a class="nav-link" style="color:lightcyan" href="/auth/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:lightcyan" href="/auth/register">Đăng ký</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<sb-card >
    <div class="card-header" style="background-color: forestgreen;">
        <h2 class="card-title" style="color:lightcyan">Danh sách các quán bóng đá
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 float-right"
                (ngSubmit)="search()">
                <div class="input-group ">
                    <input class="form-control" name="timkiem" [(ngModel)]="timkiem" type="text"
                        placeholder="Tìm kiếm....." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">
                            <fa-icon [icon]='["fas", "search"]'></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
        </h2>
    </div>
    <div class="card-body">
        <div *ngIf="checkquans; then display; else loading"></div>
        <ng-template #display>
            <div class="card">
                <div class="card-header" style="background-color: forestgreen;">
                    <h3 class="card-title" style="color:lightcyan">Google Maps</h3>
                </div>
                <div class="card-body">
                    <sb-google-maps-search-quan [listquans]="quans" [hienthivitricuaminh]="hienthivitricuaminh">
                    </sb-google-maps-search-quan>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="background-color: forestgreen;">
                    <h3 class="card-title" style="text-align: center; color:lightcyan">Danh sách sân bóng</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let quan of quansnew; index as i;"
                            routerLink="/dashboard/quans/{{quan.id}}">
                            <div class="card">
                                <div class="card-header border1">
                                    <div *ngIf="quan.image">
                                        <img class="card-img-top" style="display: block;" src="{{url+'/'+quan.image}}"
                                            alt="Card image cap">
                                    </div>
                                    <div *ngIf="!quan.image">
                                        <img class="card-img-top" style="display: block;"
                                            src="../../../assets/img/avatar.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped ">
                                        <tbody class="border1">
                                            <tr style="height: 100px;">
                                                <td> <strong>{{ quan.name }}</strong></td>
                                            </tr>
                                            <tr style="height: 100px;">
                                                <td><strong>{{ quan.phone}}</strong></td>
                                            </tr>
                                            <tr style="height: 100px;">
                                                <td><strong>{{ quan.address }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="card__rating" style="text-align: center;">
                                                        <img *ngIf="mangreview[i][0]"
                                                            src="../../../assets/img/reviews/Star_full.svg"
                                                            class="star">
                                                        <img *ngIf="!mangreview[i][0]"
                                                            src="../../../assets/img/reviews/0-star.svg" class="star">
                                                        <img *ngIf="mangreview[i][1]"
                                                            src="../../../assets/img/reviews/Star_full.svg"
                                                            class="star">
                                                        <img *ngIf="!mangreview[i][1]"
                                                            src="../../../assets/img/reviews/0-star.svg" class="star">
                                                        <img *ngIf="mangreview[i][2]"
                                                            src="../../../assets/img/reviews/Star_full.svg"
                                                            class="star">
                                                        <img *ngIf="!mangreview[i][2]"
                                                            src="../../../assets/img/reviews/0-star.svg" class="star">
                                                        <img *ngIf="mangreview[i][3]"
                                                            src="../../../assets/img/reviews/Star_full.svg"
                                                            class="star">
                                                        <img *ngIf="!mangreview[i][3]"
                                                            src="../../../assets/img/reviews/0-star.svg" class="star">
                                                        <img *ngIf="mangreview[i][4]"
                                                            src="../../../assets/img/reviews/Star_full.svg"
                                                            class="star">
                                                        <img *ngIf="!mangreview[i][4]"
                                                            src="../../../assets/img/reviews/0-star.svg" class="star">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <div class="row">
                    <input type="button" class="btn btn-success" (click)="Previous()" value="Previous">
        
                    <div *ngFor="let vitri of mangtrang; index as i">
                        <div *ngIf="page==i-2">
                            <a class="page-link">... </a>
                        </div>
                        <div *ngIf="page>i-2 && page<i+4">
                            <li *ngIf="vitri" class="page-item active">
                                <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                            </li>
                            <li *ngIf="!vitri" class="page-item">
                                <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                            </li>
                        </div>
                        <div *ngIf="page==i+4">
                            <a class="page-link">... </a>
                        </div>
                    </div>
                    <input type="button" class="btn border1" (click)="Next()" value="Next">
                </div>
            </ul>
        </nav>
    </div>
</sb-card>