<h1 style="color:blue"> 1. thông tin cá nhân của người dùng 
<button  class="btn btn-primary float-right" (click)="editUser()">Edit User</button>
</h1>
<sb-card>
    <div class="card-body">
        <div *ngIf="checkuser ; then display ; else loading"></div>
        <ng-template #display>
            <div class="row">
                <table class="table table-striped " style="width:100%">
                    <tbody>
                        <tr>
                            <td>Tên</td>
                            <td> <strong>{{ user.name}}</strong></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td><strong>{{ user.phone}}</strong></td>
                        </tr>
                        <tr>
                            <td>Gmail</td>
                            <td><strong>{{ user.gmail }}</strong></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td><strong>{{ user.address}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </ng-template>

        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>
<h1 style="color:blue"> 2. Lịch đặt sân của người dùng (mấy ngày tới)</h1>
<sb-card>
    <div class="card-body" *ngIf="checklistdansan">
        <div *ngIf="checklistdansan; then display1 ; else loading1"></div>
        <ng-template #display1>
            <table class="table table-striped" border="1">
                <thead class="thead-dark">
                    <tr>
                        <td>STT</td>
                        <td >Tên quán</td>
                        <td >Địa chỉ quán</td>
                        <td >Số điện thoại quán</td>
                        <td >Tên sân</td>
                        <td >Số người trên sân</td>
                        <td >Thời gian đặt sân</td>
                        <td >Số tiền</td>
                        <td >Trạng thái</td>
                        <td >Hủy đặt sân</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datsan of datsansnew ; index as i">
                        <td class="td">
                            {{(page-1)*10+i+1}}
                        </td>
                        <td class="td">
                            {{datsan.nameQuan}}
                        </td>
                    
                        <td class="td">
                            {{datsan.addressQuan}}
                        </td>
                        <td class="td">
                            {{datsan.phoneQuan}}
                        </td>
                        <td class="td">
                            {{datsan.nameSan}}
                        </td>
                        <td class="td">
                            {{datsan.numberpeople}}
                        </td>
                        <td class="td">
                            {{datsan.time}}
                        </td>
                        <td class="td">
                            {{datsan.price}}
                        </td>
                        <td class="td">
                            <div class="custom-control custom-switch">
                                <div *ngIf="datsan.xacnhan">
                                    <input type="checkbox" class="custom-control-input" checked>
                                    <label class="custom-control-label" type='hidden' for="status"></label>
                                </div>
                                <div *ngIf="!datsan.xacnhan">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" type='hidden' for="status"></label>
                                </div>
                            </div>
                    
                        </td>
                        <td class="td">
                            <fa-icon (click)="deleteDatSan(datsan)" [icon]='["fas","trash"]' class='fas fa-trash fa-2x'></fa-icon>
                        </td>
                    
                    </tr>
                </tbody>
            </table>
            
        </ng-template>

        <ng-template #loading1>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="Previous()">Previous</a>
                </li>
                <div *ngFor="let vitri of mangtrang; index as i">
                    <li *ngIf="vitri" class="page-item active">
                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                    </li>
                    <li *ngIf="!vitri" class="page-item">
                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                    </li>
                </div>
                <li class="page-item">
                    <a class="page-link" (click)="Next()">Next</a>
                </li>
            </ul>
        </nav>
        <strong>Lưu ý :</strong> trạng thái bận : là chủ quán đã duyệt
    </div>
</sb-card>