<h1 style="color:blue"> 1. thông tin cá nhân của người dùng 
<button  class="btn btn-primary float-right" (click)="editUser()">Edit User</button>
</h1>
<sb-card>
    <div class="card-body">
        <div *ngIf="checkuser ; then display ; else loading"></div>
        <ng-template #display>
            <div class="row">
                <table class="table table-striped " style="width:100%">
                    <tbody>
                        <tr>
                            <td>full_name</td>
                            <td> <strong>{{ user.name}}</strong></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><strong>{{ user.phone}}</strong></td>
                        </tr>
                        <tr>
                            <td>Gmail</td>
                            <td><strong>{{ user.gmail }}</strong></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><strong>{{ user.address}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </ng-template>

        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>
<h1 style="color:blue"> 2. Lịch đặt sân của người dùng (mấy ngày tới)</h1>
<sb-card>
    <div class="card-body" *ngIf="checklistdansan">
        <div *ngIf="checklistdansan; then display1 ; else loading1"></div>
        <ng-template #display1>
            <div class="row">
                <table style="width: 100%;" border="1">
                    <tr>
                        <td style="text-align: center">id</td>
                        <td style="text-align: center;">Tên quán</td>
                        <td style="text-align: center">Địa chỉ quán</td>
                        <td style="text-align: center">Số điện thoại quán</td>
                        <td style="text-align: center;">Tên sân</td>
                        <td style="text-align: center;">Số người trên sân</td>
                        <td style="text-align: center;">Thời gian đặt sân</td>
                        <td style="text-align: center;">Số tiền</td>
                        <td style="text-align: center;">Trạng thái</td>
                        <td style="text-align: center;">Xóa</td>
                    </tr>
                    <tr *ngFor="let datsan of ListDatSanByIduservaonhungngaytoi">
                        <td class="td">
                            {{datsan.id}}
                        </td>
                        <td class="td">
                            {{datsan.nameQuan}}
                        </td>

                        <td class="td">
                            {{datsan.addressQuan}}
                        </td>
                        <td class="td">
                            {{datsan.phoneQuan}}
                        </td>
                        <td class="td">
                            {{datsan.nameSan}}
                        </td>
                        <td class="td">
                            {{datsan.numberpeople}}
                        </td>
                        <td class="td">
                            {{datsan.time}}
                        </td>
                        <td class="td">
                            {{datsan.price}}
                        </td>
                        <td class="td">
                            <div class="custom-control custom-switch">
                                <div *ngIf="datsan.xacnhan">
                                    <input type="checkbox" class="custom-control-input" checked>
                                    <label class="custom-control-label" type='hidden' for="status"></label>
                                </div>
                                <div *ngIf="!datsan.xacnhan">
                                    <input type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" type='hidden' for="status"></label>
                                </div>
                            </div>

                        </td>
                        <td class="td">
                                <fa-icon (click)="deleteDatSan(datsan)" [icon]='["fas","trash"]' class='fas fa-trash fa-2x'></fa-icon>
                        </td>

                    </tr>
                </table>

            </div>
        </ng-template>

        <ng-template #loading1>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
        <strong>Lưu ý :</strong> trạng thái bận : là chủ quán đã duyệt
    </div>
</sb-card>