@import 'styles/variables.scss';
.row1{
    margin-left: 0!important;
    margin-right: 0!important;
}
.carousel-indicators {
    width: 70% !important;
}
.carousel {
    height: 100% !important;
}
.awe-section-4 {
    margin-bottom: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, input, :before, :after {
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.section_product {
    margin: 40px 0;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .col-md-12 {
        width: 100%;
    }
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
@media (min-width: 768px){

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: .01em;
}
a, .text-link {
    color: #0657a3;
    text-decoration: none;
    background: transparent;
}
a {
    transition: all 150ms ease-in-out;
}
/* start header section */
.section_product .section-head {
    position: relative;
    margin-bottom: 20px;
}
.section_product .section-head:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ebebeb;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.section_product .section-head h2 {
    margin: 0;
    text-transform: uppercase;
    color: #333;
    font-size: 22px;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    position: relative;
    font-weight: 500;
    background-color: #fff;
}
.section_product .section-head .menu-button-edit {
    display: none;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.section_product .section-head ul {
    background-color: #fff;
    padding-left: 10px;
    float: right;
    margin-top: 8px;
    position: relative;
}
ul {
    list-style: none inside;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.section_product .section-head ul li {
    background: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.section_product .section-head ul li a {
    text-transform: uppercase;
    color: #363f4d;
}
.section_product .section-head ul li a:hover {
    color: #f72b3f
}
.section_product .section-head ul li:after {
    content: "";
    width: 1px;
    height: 15px;
    background: #bbb;
    position: absolute;
    right: -5px;
    top: 50%;
}
.section_product .section-head ul li+li {
    margin-left: 13px;
}
.section_product .section-head ul li:after {
    content: "";
    width: 1px;
    height: 15px;
    background: #bbb;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: rotate(25deg) translateY(-50%);
}
.section_product .section-head ul li:last-child:after {
    display: none
}

/* end header section */
/* statr section product */
.section_product .content .section-tour-owl2 {
    overflow-x: hidden;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    width: 100%;
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-carousel .owl-stage {
    position: relative;
}
.owl-carousel.owl-drag .owl-item {
    user-select: none;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.section_product .ant-item-product .product-item {
    margin-bottom: 0;
}
.ant-item-product .product-item {
    border: 1px solid #ddd;
    padding: 5px;
}
.product-item:hover .product-image img {
    transform: scale(1.1);
    transition: 1.5s
}
.section_product .ant-item-product .product-item .product-image {
    position: relative;
    height: 222px;
}
.ant-item-product .product-item .product-image {
    text-align: center;
}
.product-item .product-image {
    overflow: hidden;
}
.ant-item-product .product-item .product-image a {
    display: block;
}
.section_product .ant-item-product .product-item .product-image img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.owl-carousel .owl-item img {
    display: block;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.ant-item-product .product-item .product_desc {
    padding-top: 10px;
}
.ant-item-product .product-item .product_desc .product_variant_box {
    border-bottom: 1px solid #e1e1e1;
    min-height: 35px;
    padding-bottom: 10px;
}
.ant-item-product .product-item .product_desc .product_variant_box p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}
p {
    margin: 0 0 15px 0;
}
.ant-item-product .product-item .product_desc .product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 5px;
}
.ant-item-product .product-item .product_desc .product_name a {
    font-weight: bold;
}
.ant-item-product .product-item .product_desc .product_name a {
    color: #212121;
    font-size: 14px;
}
.ant-item-product .product-item .product_desc .product_prices {
    margin-top: 10px;
    margin-bottom: 5px;
}
.ant-item-product .product-item .product_desc .product_prices .special-price {
    color: #f72b3f;
    font-weight: 400;
    font-size: 16px;
}
.ant-item-product .product-item .product_desc .product_prices .old-price {
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: line-through;
}
.ant-item-product .product-item .product_desc .product_action form {
    margin-bottom: 0;
}
.hidden {
    display: none!important;
}
.ant-item-product .product-item .product_desc .product_action .btn_addtocart {
    width: 100%;
    background: #f72b3f;
    text-align: center;
    border: none;
    padding: 0 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
    font-size: 13px;
    display: inline-block;
    height: 40px;
    line-height: 39px;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    letter-spacing: 0;
    transition: background-color 0.1s ease-in;
}
.ant-item-product .product-item:hover .product_desc .product_action .btn_addtocart:hover,.ant-item-product .product-item:hover .product_desc .product_action .btn_addtocart:focus {
    color: #fff;
    background-color: #f50920
}
/* end section */
/* áside */
.aside-filter {
    border: 1px dashed #e5e5e5;
    padding: 10px;
    margin-bottom: 15px;
}
.aside-filter .heading {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 10px;
}
.aside-filter .heading .title-head {
    margin-top: 0;
    text-transform: uppercase;
    color: #f72b3f;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}
.title-head {
    text-decoration: none;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}
.filter-container {
    margin-bottom: 0px;
}
.filter-container__selected-filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.filter-container__selected-filter-header {
    margin-bottom: 5px;
}
.filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: bold;
    color: #0038AE;
}
.filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px;
}
.aside-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.aside-item .aside-title .title-head {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.filter-group {
    margin-bottom: 0px;
}
.aside-item .field-search {
    margin-bottom: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.aside-item .field-search input {
    min-height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 0 7px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], textarea.form-control, select.form-control {
    outline: none;
    box-shadow: none;
    -moz-appearance: none;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], textarea, select {
    max-width: 100%;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    color: #1c1c1c;
    margin: 0 0 19px;
}
.form-control {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
    font-size: 0;
}
.input-group-field, .input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
.input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>input[type="submit"] {
    border-radius: 0;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
.aside-item .field-search button {
    height: 34px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #f72b3f;
    color: #fff;
}
.input-group-btn>.btn {
    position: relative;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.section_product .content .section-tour-owl2 {
    overflow-x: hidden
}

.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-prev,.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-next {
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
    opacity: 0;
    visibility: hidden
}

.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-next {
    height: 51px;
    width: 32px;
    border: 1px solid #f1f5f6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 7px 10px 0 rgba(72,139,216,0.2);
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 45px;
    top: 50%;
    transform: translate(0, -50%);
    color: #878fa0;
    font-size: 20px;
    margin: 0;
    right: -50px
}

.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-next.disabled {
    opacity: 0.2 !important
}

.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-prev {
    height: 51px;
    width: 32px;
    border: 1px solid #f1f5f6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 7px 10px 0 rgba(72,139,216,0.2);
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 45px;
    top: 50%;
    transform: translate(0, -50%);
    color: #878fa0;
    font-size: 20px;
    margin: 0;
    left: -50px
}

.section_product .content .section-tour-owl2.owl-carousel .owl-nav .owl-prev.disabled {
    opacity: 0.2 !important
}

.section_product .content .section-tour-owl2.owl-carousel:hover .owl-nav .owl-prev {
    left: 0;
    opacity: 1;
    visibility: inherit
}

.section_product .content .section-tour-owl2.owl-carousel:hover .owl-nav .owl-next {
    right: 0;
    opacity: 1;
    visibility: inherit
}

.section_product .content .section-tour-owl2.owl-carousel .owl-dots {
    display: none !important
}
.text-center {
    text-align: center;
}
.section_product .amore a {
    padding: 10px 0 0;
    display: inline-block;
    color: #696969;
    font-weight: 400;
    text-transform: uppercase;
}
/* end section product */