<sb-card>
    <div class="card-header">
        <input type="button" class="btn btn-success float-right" [routerLink]="['/dashboard/searchquan']"
            value="Tìm kiếm quán trên bản đồ" />
    </div>
    <div class="card-body">
        <div *ngIf="checkquan; then display; else loading"></div>
        <ng-template #display>
            <div class="row">
                <div class="card" style="width: 22rem;" *ngFor="let quan of listquans; index as i;" routerLink="/dashboard/quans/{{quan.id}}">
                    <div  *ngIf="quan.image">
                        <img class="card-img-top" style="width: 22rem; height: 18rem" src="{{url+'/'+quan.image}}" alt="Card image cap">
                    </div>
                    <div *ngIf="!quan.image">
                        <img class="card-img-top" style="width: 22rem; height: 18rem" src="../../../assets/img/avatar.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <table class="table table-striped ">
                            <tbody>
                                <tr>
                                    <td>full_name</td>
                                    <td> <strong>{{ quan.name }}</strong></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td><strong>{{ quan.phone}}</strong></td>
                                </tr>
                                <tr>
                                    <td>address</td>
                                    <td><strong>{{ quan.address }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card__rating" style="text-align: center;">
                        <img *ngIf="mangreview[i][0]" src="../../../assets/img/reviews/Star_full.svg" class="star">
                        <img *ngIf="!mangreview[i][0]" src="../../../assets/img/reviews/0-star.svg" class="star">
                        <img *ngIf="mangreview[i][1]" src="../../../assets/img/reviews/Star_full.svg" class="star">
                        <img *ngIf="!mangreview[i][1]" src="../../../assets/img/reviews/0-star.svg" class="star">
                        <img *ngIf="mangreview[i][2]" src="../../../assets/img/reviews/Star_full.svg" class="star">
                        <img *ngIf="!mangreview[i][2]" src="../../../assets/img/reviews/0-star.svg" class="star">
                        <img *ngIf="mangreview[i][3]" src="../../../assets/img/reviews/Star_full.svg" class="star">
                        <img *ngIf="!mangreview[i][3]" src="../../../assets/img/reviews/0-star.svg" class="star">
                        <img *ngIf="mangreview[i][4]" src="../../../assets/img/reviews/Star_full.svg" class="star">
                        <img *ngIf="!mangreview[i][4]" src="../../../assets/img/reviews/0-star.svg" class="star">
                    </div>
                </div>  
                
            </div>
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="Previous()">Previous</a>
                </li>
                <div *ngFor="let vitri of mangtrang; index as i">
                    <li *ngIf="vitri" class="page-item active">
                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                    </li>
                    <li *ngIf="!vitri" class="page-item">
                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                    </li>
                </div>
                <li class="page-item">
                    <a class="page-link" (click)="Next()">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    
</sb-card>
